<!DOCTYPE html>
<html>
<head>
    <title>Raspberry Pi Camera Webserver</title>
</head>
<body>
    <h1>Script Control</h1>
    <button onclick="location.href='/start_camScript'">Start Recording</button>
    <button onclick="location.href='/stop_camScript'">Stop Recording</button><br>
    <button onclick="location.href='/list_files'">Show Files</button>
</body>
<hr>
<body>
    <h1>Time setting</h1>
    <form method="POST">
        <label for="time">New time: (YYYY-MM-DD HH:MM:SS):</label>
        <input type="text" name="time" id="time" required>
        <script>
            const timeField = document.getElementById("time");
            const now = new Date();
            const year = now.getFullYear().toString();
            const month = (now.getMonth()+1).toString().padStart(2, '0');
            const day = now.getDate().toString().padStart(2, '0');
            const hours = now.getHours().toString().padStart(2, '0');
            const minutes = now.getMinutes().toString().padStart(2, '0');
            const seconds = now.getSeconds().toString().padStart(2, '0');
            timeField.value = `${year}-${month}-${day} ${hours}:${minutes}:${seconds}`;
        </script>
        <button type="submit">Set Time</button>
    </form>
</body>
<hr>
<body>
    <h1>Camera setting</h1>
    <label>Picture recording only possible, when video recording script is not running!</label><br>
    <img src="{{ url_for('static', filename='testPic.jpg') }}"/><br>
    <button onclick="location.href='/get_picture'">Take picture</button><br>
    <button onclick="location.href='/flipH'">Flip horizontally</button>
    <button onclick="location.href='/flipH_not'">Flip not horizontally</button><br>
    <button onclick="location.href='/flipV'">Flip vertically</button>    
    <button onclick="location.href='/flipV_not'">Flip not vertically</button><br>   
    <button onclick="location.href='/flip_reset'">Reset flip settings</button>
</body>
<hr>
<body>
    <h1>Pi Control</h1>
    <button onclick="location.href='/reboot'">Reboot</button>
    <button onclick="location.href='/shutdown'">Shutdown</button>
</body>
</html>
