<!DOCTYPE html>
<html>
<head>
    <title>Raspberry Pi Camera Webserver</title>
</head>
<body>
    <h1>Script Control</h1>
    <button onclick="location.href='/start_camScript'">Start Recording</button>
    <button onclick="location.href='/stop_camScript'">Stop Recording</button><br><br>

    <button onclick="location.href='/list_files'">Show Files</button>
</body>
<body>
    <h1>Time setting</h1>
    <form method="POST">
        <label for="new_time">New time: (YYYY-MM-DD HH:MM:SS):</label>
        <input type="text" name="new_time" value="{{ current_time }}" id="new_time" required>
        <button type="submit">Set Time</button>
    </form>
</body>
<body>
    <h1>Pi Control</h1>
    <button onclick="location.href='/reboot'">Reboot</button>
    <button onclick="location.href='/shutodwn'">Shutdown</button>
</body>
</html>
